ol {text-align: left; margin: 0 auto; width: 470px;}
ol li {font-weight: bold; margin: 10px 0;}

:root{
    --nav-hover-link-color: black;
}

h1 {
    color:white;
}
    
  h1:hover {
    color: var(--nav-hover-link-color);
  }